body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.button{
    border: 0px;
    padding: 5px 10 px;
    border-radius: 5px;
    font-weight: bolder;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.mainButton{
    background-color: indianred ;
    color: white;
}
.mainButton:hover{
    box-shadow: 1px 1px rgb(141, 66, 39);
}
.secondaryButton{
    background-color: cadetblue;
    color: white;
}
.secondaryButton:hover{
    box-shadow: 1px 1px darkcyan;
}