p{
    color: chocolate;
}
h3{
    color: blue;
}
a{
    background-color: aqua;
}
#parrafo2{
    background-color: grey;
}
.parrafoRosa{
    color: deeppink;
}
.imagenPequeña{
    height: 200px;
}
.textoGrandeNegrita{
    font-size: x-large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}